.taskbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    padding: 0 10px;
    bottom: 0;
    width: 100%;
  
    .taskbar-item {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      i {
        margin-right: 5px;
      }
  
      &:hover {
        background-color: #555;
        border-radius: 5px;
      }
    }
  }
  