<div class="flex flex-col justify-center items-center gap-2 p-8">
  <app-text-block
    textInput="Lorem ipsum odor amet, consectetuer adipiscing elit. Sem neque nam egestas inceptos; suspendisse maecenas posuere est. Curabitur scelerisque hendrerit ligula lectus hendrerit; iaculis sagittis magna. Nam conubia tincidunt aliquam sapien bibendum morbi taciti porttitor eleifend. Primis habitasse vestibulum per; conubia quisque pellentesque. Pretium id dignissim justo fames ac fringilla fringilla sit risus?"
  ></app-text-block>

  <div class="pdf-container">
    <embed src="../assets/pdfs/lunarLander.pdf" class="pdf-viewer" />
  </div>
</div>
