<div class="flex flex-row justify-center items-center gap-2 p-8">
  <app-text-block-w-image
    imageUrl="assets/images/zmirk.jpg"
    text="Lorem ipsum odor amet, consectetuer adipiscing elit. Sem neque nam egestas inceptos; suspendisse maecenas posuere est. Curabitur scelerisque hendrerit ligula lectus hendrerit; iaculis sagittis magna. Nam conubia tincidunt aliquam sapien bibendum morbi taciti porttitor eleifend. Primis habitasse vestibulum per; conubia quisque pellentesque. Pretium id dignissim justo fames ac fringilla fringilla sit risus?"
  >
  </app-text-block-w-image>
</div>
